.student_table_container{
    margin-top:1.25rem;
}
.student_table_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
}
.student_table_header_left_col{
    flex:1;
    display:flex;
    align-items: center;
    gap:1rem;
}

@media(min-width:1200px){
    .student_table_header{
    gap:2rem;
}
.student_table_header_left_col{
    flex:0;
    flex-basis: 450px;
    margin-right: auto;
}
}