.pending_course_container{
    margin:2rem 0;
}

.inner_course_container{
    height: 380px;
    overflow: auto;
}
.course_list{
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    margin-top:1rem;
    padding:1.125rem 0;
    border-top:1px solid #e2e2e3;
}

.course_item{
    display:flex;
    align-items: center;
    gap:1rem;
}

.course_item_info{
    margin-right: auto;
}

.course_item_info_name{
    font-size:.9375rem;
    font-weight: 500;
    color:#4D5154;
}
.course_item_info_description{
 font-size: .75rem;
 color:#A6A8A9;
}