.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb; /* soft gray */
  border-radius: 12px;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}