.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding:0 1rem 4rem 1rem;
}

.logo{
    display:flex;
    align-items: center;
    gap:.5rem;
}
.academy_text{
    font-size: 1.125rem;
    font-weight: 600;
}