.pagination_container{
    display:flex;
    flex-direction: column;
    gap:.75rem;
}

.pagination{
    margin:1rem 0;
    min-width: 0;
}

.pagination_text{
    font-size: .875rem;
    color:#4d5154;
}

.pagination_nav{
    width: 100%;
}

.pagination_content{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
}

.disabled_link{
    pointer-events: none;
    opacity: .4;
}

@media(min-width:767px){
    .pagination_container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pagination_text{
    font-size: 1rem;
}

.pagination_nav{
    width: auto;
}

.pagination_content{
    flex-wrap: nowrap;
}

}

