.events_container{
    margin-top:1.25rem;
}

.event_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.add_event_btn{
    border:none;
    background: #CDDEFF;
    border-radius: .5rem;
    padding:8px 24px;
    font-size: 1rem;
    color:#2E3135;
    cursor: pointer;
    font-weight: 500;
}
