.remove_default_btn_style{
    border:none;
    background:none;
}
.primary_btn{
 padding:.75rem 1.5rem;
 border-radius: .375rem;
 border:none;
 width:100%;
 font-size: 1.125rem;
 cursor:pointer;
}
.login_btn{
 background:var(--primary_black);
 color:white;
 margin:1rem 0;
}
.toggle_btn{
    padding:.5rem;
    border:none;
    background:none;
}

.notification_btn{
    background:none;
    border:none;
    cursor: pointer;
}
.setting_btn{
    width: 40px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border: 1px solid #dadde0;
    box-shadow: 0px 2px 6px 0px rgba(144, 146, 148, 0.20);
    cursor: pointer;
}

.sign_out_btn{
    display:flex;
    align-items: center;
    border:none;
    background:#F5F8FF;
    width:100%;
    padding:10px 12px;
    cursor: pointer;
    color:#414244;
    gap:1rem;
    border-radius: 5px;
    font-size: 1.125rem;
}