.wrapper{
   padding:1rem; 
}

.card_container{
    background:#FFF;
    border-radius: 1rem;
    padding:1rem;
    box-shadow: 0px 2px 6px 0px rgba(144, 146, 148, 0.20);
}

@media(min-width:767px){
    .wrapper{
        padding:0;
    }
}