

.dashboard_students_risk{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:1rem;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin:1rem 0;
    box-shadow: 0 2px 6px #90929433;
}

.student_risk_card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    cursor: pointer;
    border: 1px solid #e8ecf0;
    border-radius: 12px;
    padding: 1.125rem;
    transition: all .2s;
    min-width: 200px;
}

.student_risk_card_header{
  display:flex;
  align-items: center;
}

.student_risk_item_name{
    font-weight: 700;
    font-size: 1.125rem;
}