.course_item_level{
    padding: 4px 8px;
    border-radius: 90px;
    font-size: .75rem;
    min-width: 55px;
}
.course_item_level.level1{
     background:#ffd9dc;
    color:#FF414B;
}
.course_item_level.level2{
     background:#12a9a6;
    color:white;
}
.course_item_level.level3{
     background:#f5c544;;
    color:white;
}

.course_item_level.renacer{
     background:#e4e4fa;
    color:#6a6add;
}
