.course_item_level{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 90px;
    font-size: .75rem;
    min-width: 55px;
}
.course_item_level.level1, .course_item_level.ongoing{
     background:#ffd9dc;
    color:#FF414B;
}
.course_item_level.level2, .course_item_level.completed{
     background:#12a9a6;
    color:white;
}
.course_item_level.level3{
     background:#f5c544;
    color:white;
}

.course_item_level.renacer, .course_item_level.upcoming {
     background:#e4e4fa;
    color:#6a6add;
}

.course_item_level.renacer, .course_item_level.cancelled{
     background:#FF414B;
    color:#FFF;
}
